{% include "head.njk" %}
<div class="zones">
  <div class="zones__zone">
    {% include 'header.njk' %}
    <main>
      {% include "posts.njk" %}
    </main>
  </div>
  <div class="zones__zone">
    {% include 'footer.njk' %}
  </div>
</div>
{% include 'foot.njk' %}