<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="{{ siteSettings.metaDescription }}">
    <meta property="og:image" content="/_assets/images/og-image.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="stylesheet" href="_assets/css/style.css"/>
    <link rel="shortcut icon" type="image/svg" href="_assets/images/favicon.svg"/>
    <title>{{ siteSettings.metaTitle }}</title>
  </head>
  <body></body>
</html>