<header class="header">
    <div class="header__row">
    </div>
    <div class="header__intro rich-text">
        <h1 class="header__logo">{{ collections.header[0].data.title }}</h1>
        {{ collections.header[0].content | safe }}
    </div>
</header> 