{% if collections.post %}
    <h2 class="u-hidden" id="listTitle">List of websites</h2>
    <a href="#footer" class="u-skip-link">Skip list</a>
    <ul class="showcase" aria-labelledby="listTitle">
        {% for item in collections.post %}
            <li class="showcase__item">
                <article class="card">
                    <header class="card__header">
                        <h2 class="card__title">
                            {{ item.data.link }}
                        </h2>
                        <div class="browser-dots">
                            <span></span>
                            <span></span>
                        </div>
                    </header>
                    <div class="card__content">
                        <div class="card__image">
                            <img src="_static/{{ item.data.screenshotFileName }}" alt=""/>
                        </div>
                        <div class="card__note">
                            <div class="card__note-header">
                                <span>Note from contributor</span>
                                <div class="browser-dots">
                                    <span></span>
                                </div>
                            </div>
                            <blockquote class="card__note-content">
                                <p>
                                "{{ item.data.description }}" <br/>
                                {% if item.data.submittedBy %}
                                    — {{ item.data.submittedBy }}
                                {% endif %}
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <footer class="card__footer">
                        <a href="{{ item.data.link }}" class="card__link">
                            <span>Visit site</span>
                            {% include 'icons/arrow-upward.njk' %}
                        </a>
                    </footer>
                </article>
            </li>
        {% endfor %}
    </ul>
    <p class="showcase__suffix">End of the list.
        <a href="https://github.com/havardob/has-containers/tree/main/src/posts">Want to contribute?</a>
    </p>
{% endif %}