html {
    --ff-primary: "Satoshi", "Instrument Sans", sans-serif;
}

body {
    overflow: hidden;
    container-type: inline-size;
    container-name: root;
}


body {
    font-family: var(--ff-primary);
}

  ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
  }

  ::-webkit-scrollbar-thumb {
      background: currentColor;
  }

  ::-webkit-scrollbar-track {
      background: #FFF;
  }