.accordions {
    display: flex;
    flex-direction: column;
    gap: .375rem; 
    padding-inline-end: 1rem;
}

.accordion {
    &__toggle {
        list-style: none;
        display: flex;
        align-items: center;
        gap: .25rem;
        font-weight: 500;
        padding: .5em .75em; 
        border-radius: 99em;
        &::-webkit-details-marker {
            display: none;
        }

        &:hover {
            background-color: var(--color-bg-secondary);
        }

        .icon {
            flex-shrink: 0;
        }

        [open] & {
            .icon {
                rotate: 90deg;
            }
        }
    }

    &__content {
        padding-block: 1rem;
        padding-inline-start: 1.25rem;
        border-inline-start: 1px solid var(--color-bg-secondary);
        margin-inline-start: 1.5rem;
        margin-block-start: .5rem;
    }

}