.footer {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 3rem;
    &__credits {
        margin-block-start: auto;
        font-size: clamp(.8rem, 4vw, .875rem);
        color: var(--color-text-secondary);
    }
}