.rich-text {
    & > * + * {
        margin-top: 1em;
    }

    ol, ul {
        padding-inline-start: 1.25rem;
    }
}


code {
    background-color: var(--color-bg-secondary);
    border-radius: 4px;
    padding: .125em .25em;
    display: inline-block;
    line-height: 1.25;
}

