.showcase {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: 2rem;
    padding-block-end: 6rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    &__suffix {
        color: var(--color-text-secondary);
        font-size: clamp(.875rem, 4vw, 1rem);
        padding-block-start: 3rem;
    }
}

.showcase__item {
    max-width: 1000px;
    &:nth-child(even) {
        @container root (min-width: 1000px) {
            margin-inline-start: 3rem;
        }
    }
}    