/* Defaults */
@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;500;600;700&family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
  font: inherit;
}

html,
body {
  scrollbar-gutter: both-edges;
}

html:focus-within {
  scroll-behavior: smooth;
}

*:not(:is(ul, ol, li)) {
  padding: 0;
  margin: 0;
}

button,
select,
input,
textarea {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid;
}

a {
  color: inherit;
}

a:not([class]) {
  text-decoration-thickness: max(0.08em, 1px);
  text-underline-offset: 0.15em;
}

img,
picture, iframe {
  max-width: 100%;
  display: block;
}

button,
summary {
  cursor: pointer;
  color: inherit;
}

body {
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

:focus-visible {
  --outline-size: max(2px, 0.15em);
  outline: var(--outline-width, var(--outline-size)) solid var(--outline-color, currentColor);
  outline-offset: var(--outline-offset, var(--outline-size));
}

:visited {
  color: var(--visited-color, currentColor);
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End of reset */
html {
  --ff-primary: "Satoshi", "Instrument Sans", sans-serif;
  --pallette-ice-cream: #f7f7f8;
  --pallette-mist: #cfd6e4;
  --pallette-void: #000819;
  --pallette-midnight: #1d3744;
  --color-text-primary: var(--pallette-void);
  --color-text-secondary: var(--pallette-midnight);
  --color-border-primary: var(--pallette-void);
  --color-bg-primary: var(--pallette-ice-cream);
  --color-bg-secondary: var(--pallette-mist);
}
html[data-theme=dark] {
  --color-text-primary: var(--pallette-ice-cream);
  --color-text-secondary: var(--pallette-mist);
  --color-border-primary: var(--pallette-ice-cream);
  --color-bg-primary: var(--pallette-void);
  --color-bg-secondary: var(--pallette-midnight);
}
@media (prefers-color-scheme: dark) {
  html {
    --color-text-primary: var(--pallette-ice-cream);
    --color-text-secondary: var(--pallette-mist);
    --color-border-primary: var(--pallette-ice-cream);
    --color-bg-primary: var(--pallette-void);
    --color-bg-secondary: var(--pallette-midnight);
  }
}

body {
  overflow: hidden;
  container-type: inline-size;
  container-name: root;
  background-color: var(--color-bg-primary);
  font-family: var(--ff-primary);
  color: var(--color-text-primary);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: currentColor;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-primary);
}

.zones {
  display: grid;
  margin-inline: auto;
}
@container root (min-width: 1000px) {
  .zones {
    grid-template-columns: auto min(500px, 30vw);
  }
}
.zones__zone {
  padding-inline: 1rem;
  padding-block: 2rem;
  container-name: zone;
  container-type: inline-size;
  scrollbar-gutter: stable;
}
@container root (min-width: 1000px) {
  .zones__zone {
    overflow: auto;
    height: 100dvh;
    padding-inline: 2rem;
    padding-block: 2rem;
  }
}
.zones__zone:nth-child(1) {
  padding-inline: 1rem;
  -webkit-padding-after: 1rem;
          padding-block-end: 1rem;
}
@container root (min-width: 1000px) {
  .zones__zone:nth-child(1) {
    padding-inline: 4rem;
    -webkit-padding-after: 2rem;
            padding-block-end: 2rem;
  }
}
.zones__zone:nth-child(2) {
  -webkit-border-before: 2px solid var(--color-border-primary);
          border-block-start: 2px solid var(--color-border-primary);
}
@container root (min-width: 1000px) {
  .zones__zone:nth-child(2) {
    -webkit-border-before: none;
            border-block-start: none;
    -webkit-border-start: 2px solid var(--color-border-primary);
            border-inline-start: 2px solid var(--color-border-primary);
    height: 100dvh;
    overflow: auto;
    position: sticky;
    top: 0;
    padding-inline: 1rem;
  }
}

.header__logo {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 500;
  line-height: 1.25;
}

.header__intro {
  font-size: clamp(1rem, 4vw, 1.125rem);
  max-width: 60ch;
  margin-top: 1em;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.theme-toggle {
  font-size: clamp(0.875rem, 4vw, 1rem);
  display: inline-flex;
  gap: 0.5rem;
  padding: 0.5em 1em;
  border-radius: 99em;
  border: 0;
  cursor: pointer;
  color: inherit;
  background-color: var(--color-bg-primary);
}
.theme-toggle:hover {
  background-color: var(--color-bg-secondary);
}

[data-theme=light] .theme-toggle__icon--light {
  display: none;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3rem;
}
.footer__credits {
  -webkit-margin-before: auto;
          margin-block-start: auto;
  font-size: clamp(0.8rem, 4vw, 0.875rem);
  color: var(--color-text-secondary);
}

.showcase {
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-margin-before: 4rem;
          margin-block-start: 4rem;
  -webkit-padding-after: 6rem;
          padding-block-end: 6rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.showcase__item {
  max-width: 1000px;
}
@container root (min-width: 1000px) {
  .showcase__item:nth-child(even) {
    -webkit-margin-start: 3rem;
            margin-inline-start: 3rem;
  }
}

.card {
  border: 2px solid var(--color-border-primary);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.5s ease;
  max-width: 95%;
  margin-inline: auto;
}

body:has(.card__link:hover) .card:not(:has(.card__link:hover)) {
  opacity: 0.25;
}

.card__image {
  background-color: var(--color-bg-secondary);
  border-radius: 4px;
  overflow: hidden;
}
.card__image img {
  aspect-ratio: 16/9;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
.card:has(.card__link:hover) .card__image img {
  filter: grayscale(0);
}

.card__content {
  position: relative;
}

.card__note {
  background-color: var(--color-bg-primary);
  border: 2px solid var(--color-border-primary);
  border-radius: 6px;
  transform-origin: top left;
  transition: 0.35s ease;
  width: 105%;
  -webkit-margin-start: -2.5%;
          margin-inline-start: -2.5%;
  -webkit-margin-after: -2rem;
          margin-block-end: -2rem;
}
@container zone (min-width: 1000px) {
  .card__note {
    position: absolute;
    inset-block-end: -2rem;
    inset-inline-start: -2rem;
    max-width: 600px;
  }
}
.card__note-header {
  padding: 0.75rem;
  font-size: clamp(0.75rem, 4vw, 0.875rem);
  -webkit-border-after: 2px solid var(--color-border-primary);
          border-block-end: 2px solid var(--color-border-primary);
  text-transform: uppercase;
  font-weight: 500;
}
.card__note-content {
  padding: 1rem 0.75rem;
}

.card__header {
  border-bottom: 2px solid var(--color-border-primary);
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
}

.card__title {
  font-size: clamp(0.75rem, 4vw, 0.875rem);
}

.card__link {
  background-color: var(--color-bg-primary);
  border: 2px solid var(--color-border-primary);
  padding: 0.75rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.15s ease;
  position: absolute;
  inset-block-start: -2rem;
  inset-inline-end: -1rem;
}
.card__link .icon {
  flex-shrink: 0;
}
.card__link:hover, .card__link:focus-visible {
  translate: 0.5rem -0.5rem;
  box-shadow: 0 2px 0 0 currentColor;
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  -webkit-padding-end: 1rem;
          padding-inline-end: 1rem;
}

.accordion__toggle {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 500;
  padding: 0.5em 0.75em;
  border-radius: 99em;
}
.accordion__toggle::-webkit-details-marker {
  display: none;
}
.accordion__toggle:hover {
  background-color: var(--color-bg-secondary);
}
.accordion__toggle .icon {
  flex-shrink: 0;
}
[open] .accordion__toggle .icon {
  rotate: 90deg;
}
.accordion__content {
  padding-block: 1rem;
  -webkit-padding-start: 1.25rem;
          padding-inline-start: 1.25rem;
  -webkit-border-start: 1px solid var(--color-bg-secondary);
          border-inline-start: 1px solid var(--color-bg-secondary);
  -webkit-margin-start: 1.5rem;
          margin-inline-start: 1.5rem;
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
}

.rich-text > * + * {
  margin-top: 1em;
}
.rich-text ol, .rich-text ul {
  -webkit-padding-start: 1.25rem;
          padding-inline-start: 1.25rem;
}

code {
  background-color: var(--color-bg-secondary);
  border-radius: 4px;
  padding: 0.125em 0.25em;
  display: inline-block;
}

.u-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.u-skip-link {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.u-skip-link:focus {
  position: static;
  width: auto;
  height: auto;
  -webkit-clip-path: none;
          clip-path: none;
  clip: unset;
}